body {
    background-color: rgb(36, 36, 36);
    color: #ffffff;
    padding: 0;
    margin: auto;
}

section {
    min-height: 100vh;
    text-align: center;
}

.icons {
    display: flex;
    margin: 1rem;
    justify-content: center;
}

.flex {
    display: flex; 
    align-items: center;
    justify-content: center;
}

.icon {
    width: 5rem; 
    height: 5rem;
}

.icons:nth-child(2) {
    transition-delay: 200ms;
}

.icons:nth-child(3) {
    transition-delay: 500ms
}

.icons:nth-child(4) {
    transition-delay: 1000ms
}

.point:nth-child(2) {
    transition-delay: 200ms
}

.point:nth-child(3) {
    transition-delay: 500ms
}

.point:nth-child(4) {
    transition-delay: 800ms
}

.point:nth-child(5) {
    transition-delay: 1200ms
}
.point:nth-child(6) {
    transition-delay: 1900ms
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
}

ul { 
    font-size: 1.5rem;
    text-align: center;
    list-style-type: none;
}

.headbackround {
    background: url(backround.gif);
    position:center;
    background-size: cover;
    padding-top: 100px;
}
.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 1s;
}

.hiddentop {
    opacity: 0;
    filter: blur(10px);
    transform: translateY(-100%);
    transition: all 1s;
}

.hiddenright {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


a {
    text-decoration: none;
}

a:visited {
    color: #e88d8d;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}
