body {
    background-color: rgb(36, 36, 36);
    color: #ffffff;
    padding: 0;
    margin: auto;
}

section {
    min-height: 100vh;
    text-align: center;
}

.icons {
    display: flex;
    margin: 1rem;
    justify-content: center;
}

.images {
    width: 5rem; 
    height: 5rem;
}

.icons:nth-child(2) {
    transition-delay: 200ms;
}

.icons:nth-child(3) {
    transition-delay: 500ms
}

.icons:nth-child(4) {
    transition-delay: 10000ms
}

h1 {
    font-size: 5vw;
}

h2 {
    font-size: 3.5vw;
}

p {
    font-size: 1.2vw;
}

.headbackround {
    background: url(backround.gif);
    position:center;
    background-size: cover;
    padding-top: 100px;
}
.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 1s;
}

.hiddentop {
    opacity: 0;
    filter: blur(10px);
    transform: translatey(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

html {
    scroll-behavior: smooth;
  }

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}
